:root {
  --error: #db1717;

  /* Black Shades */
  --black: #000000;
  --midnight-steel: #183053;
  --midnight-ink: #0d0d12;
  --charcoal-grey: #5c5c5c;
  --charcoal-night: #414149;

  /* White Shades */
  --white: #ffffff;
  --ghost-white: #f0f0f5;

 

  /* ///gray  */
  --steel-mist: #808897;
  --frost-whisper: #e4e5e7;
  --border-color:#E5E5E9;
  --placeholder-color:#A4ABB8;
  --slate-shadow: #666d80;
  --storm-grey: #87878e;
  --misty-slate: #acacb2;
  --snowfall: #ebebeb;
  --lavender-gray: #D3D3E2;
  --mist-gray: rgba(240, 240, 245, 0.50);


  /* Blue Shades */

  --electric-azure: #3861fb;
  --deep-cerulean: #014c85;
  --sky-glow: #62c1f8;
  --morning-sky: #89b5fd;
  

  /* Purple Shades */
  --electric-violet: #8e5afd;

  /* Gradients */
 

  /* Misc */

  --mint-frost: #b7eae8;
  --turquoise-wave: #33c8c2;
  --smoky-slate: #63636c;
  --sage-green: #9bb167;
  --deep-teal-color: #024F69;
  --cool-blue-color: #024FE9;
  --charcoal-gray: #222227;
  --steel-blue: #507B94;
  --lavender-gray: #BABAD3;
  --cloud-gray: #E3E3ED;
  --midnight-black: #111216;
  --slate-gray: #44464D;
  --silver-gray: #E0E0E1;
  --storm-gray: #979AA5;
  --ash-gray: #74767B;
  --sky-blue: #94D8FC;
  --ice-blue: #C0E6FD;
  --ghost-white: #FCFCFD;
  --slate-gray: #323232;
  --ocean-blue: #3DA4F4;
  --royal-blue: #1F71D6;
  --marine-blue: #1F5CAE;

}
