
.iconInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconInputTitle{
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconInputTitle p{
    margin-bottom: 0px !important;
}
.iconInputIcon{
    margin-bottom: 5px !important;
     color: #696969;
}

@media (max-width: 992px) {
    .iconInput{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .iconInputTitle{
        width: 100%;
    }

    .iconInput > div:last-child{
        width: 100%;
    }
}