.wrapperContainer {
  background-color: var(--white);
  padding-bottom: 20px;
}

.wrapper {
  border-radius: 16px;
  border: 1px solid var(--light-gray);
}
.header {
  border-bottom: 1px solid var(--light-gray);
  padding: 12px 16px;
}

.header h4 {
  color: var(--charcoal-night);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content {
  padding: 0px 16px;
}
