
.dashboardTemplateHeader{
    background-color: var(--light-gray-2);
    padding: 24px;
}

.dashboardTemplateHeader h4{
    color: var(--sage-gray);
font-size: 24px;
font-weight: 500;
line-height: 150%; /* 36px */
letter-spacing: -0.528px;
margin-bottom: 0px;
}

.dashboardTemplateHeader p{
    color: var(--shadow-moss);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 54px */
margin-bottom: 0px;
}

.calenderWrapper{
    padding: 0px 0px !important;
}
.calender{
    margin: 0px !important;
}

.newCases{
    padding: 16px;
    border-radius: 12px;
border: 1px solid var(--light-gray);
}

.contentClassName {
    padding: 0px !important;
}


@media screen and (max-width: 1200px) {
    .dashboardTemplateHeader p{
        font-size: 30px;
    }
    .dashboardTemplateHeader h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .dashboardTemplateHeader p{
        font-size: 24px;
    }
    .dashboardTemplateHeader h4{
        font-size: 18px;
    }
}


@media screen and (max-width: 768px) {
    .dashboardTemplateHeader p{
        font-size: 20px;
    }
    .dashboardTemplateHeader h4{
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .dashboardTemplateHeader p{
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .dashboardTemplateHeader p{
        font-size: 16px;
    }
}
