
.sidebar{
    width: 293px;
    height: 100%;
    padding: 24px;
    border-right: 2px solid var(--border-color-2);


}
.logo{
    width: 30px;
    height: 60px;
    position: relative;
    margin-bottom: 55px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sidebarItems{
    margin-bottom: 40px;
}

.sidebarItems{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar h6{
    color: #969696;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: -0.352px; 
    margin-bottom: 24px;
}