/* DropDown Component Styles */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.label {
  color: var(--slate-shadow);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  line-height: 1.4;
}

.error {
  color: var(--error);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.4;
}

.dropdownHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--midnight-blue);
  transition: all 0.2s ease-in-out;
}

.dropdownHandleIcon {
  transition: all 0.2s ease-in-out;
}