.supportCenterContainer {
  width: 70%;
  margin: 0 auto;
}

.supportCenterContainer h4 {
  color: var(--shadow-moss);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 16px;
}

.supportCenterWrapper {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--light-orange);
  background: var(--ghost-white);
}

.supportCenterWrapperContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.supportCenterWrapperContent h4 {
  color: var(--storm-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px !important;
}

.supportCenterWrapperContent p {
  color: var(--charcoal-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px !important;
}


.sendMessageButton[color-variant="outlined"] {
    color: var(--deep-cerulean) !important;
    border: 1px solid var(--deep-cerulean) !important;
    font-size: 14px !important;
    height: 40px !important;
    margin-top: 12px !important;
}