.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.chartWrapper {
  position: relative;
}

.chart {
  display: block;
}

.backgroundCircle {
  opacity: 0.2;
}

.segment {
  transition: opacity 0.2s ease;
}

.segmentValue {
  fill: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  pointer-events: none;
}

.centerText {
  color: var(--grey-600, #414149);
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  fill: var(--grey-600, #414149);
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legendDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.legendText {
  color: var(--grey-500, #63636C);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

