.modalFooterButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.modalBody {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


