.contentClassName {
    padding: 0px !important;
}

.gridFilter {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 10px;
}

.documentCard {
    padding: 16px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    background: var(--white);
}

.documentCard h5 {
    margin-bottom: 12px;
    color: var(--charcoal-night);
    font-size: 16px;
    font-weight: 500;
}

.documentCard p {
    margin-bottom: 8px;
    color: var(--charcoal-gray);
    font-size: 14px;
}

.documentCard p strong {
    color: var(--charcoal-night);
}

.docCardRow{
    padding: 16px;
}

.paginationWrapper {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.skeletonCard {
    display: flex;
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid var(--light-gray, #EAEAEA);
    background: var(--white, #FFF);
    min-height: 180px;
}

.skeletonContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.skeletonDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    flex: 1;
    width: 100%;
}

.skeletonCard {
    display: flex;
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid var(--light-gray, #EAEAEA);
    background: var(--white, #FFF);
    min-height: 180px;
}

.skeletonContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.skeletonDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    flex: 1;
    width: 100%;
}