
.tableHeaderDrop{
    padding:12px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.tableHeaderDrop h4{
    color: var(--charcoal-night);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}

.titleIcon {
    display: flex;
    align-items: center;
    color: var(--charcoal-night);
}

.viewAllBtn{
    height: 40px !important;
    width: fit-content !important;
    white-space: nowrap;
}

.tableHeaderParent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid var(--light-gray);
}

.tableHeaderButtons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.dropdownWrapper {
    width: auto;
    min-width: 150px;
}

.dropdown {
    width: 150px;
}

.dropdownWrapper :global(.react-dropdown-select) {
    min-height: 40px !important;
}
