
.dateText{
    color: var(--sage-gray);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
letter-spacing: -0.44px;
}

.leftTop h4{
    color: var(--shadow-moss);
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 42px */
margin-top: 6px;
margin-bottom: 20px;
}
.caseProgressCardsMain{
    margin-top: 40px;
    margin-bottom: 24px;
}

.circularCaseProgressChart{
    padding: 30px 0px;
}

.wrapper {
    margin-top: 40px;
    margin-bottom: 24px;
}

.contentClassName {
    padding: 0px !important;
}