.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  background: var(--white);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--light-gray);
  padding: 4px 0px;
}

.headerContent {
  height: 76px;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 30px;
  height: 60px;
}

.nav {
  display: none;
  align-items: center;
  gap: 32px;
}

.navLink {
  color: var(--charcoal-night);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.navLink:hover {
  color: var(--deep-cerulean);
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.active{
  color: var(--deep-cerulean);
  font-weight: 500;
}

.mobileMenuButton {
  display: block;
  color: var(--black-1);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.mobileMenuButton:hover,
.mobileMenuButton:focus {
  color: var(--purple);
  outline: none;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media (min-width: 768px) {
  .mobileMenuButton {
    display: none;
  }
}
